.avatar{
  width: 3rem;
  height: 3rem;
  border-radius: 8px;
  box-sizing: initial;
}

.avatarWithBorder { 
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 8px;
  border: 2px solid var(--gray-800);
  outline: 4px solid var(--green-500);
  margin-top: calc(0px - 1.5rem - 6px);
  box-sizing: initial;
}